<div id="root">
  <h1>StaticPagesRoot view</h1>
</div>



<script>
  window.images = {
  event_1: '<%= asset_path('event_1.jpg') %>',
  event_2: '<%= asset_path('event_2.jpg') %>',
  event_3: '<%= asset_path('event_3.jpg') %>',
  event_5: '<%= asset_path('event_5.jpg') %>',
  
  }
</script>