body, h1, h2, h3, p {
    font-family: 'Heebo', sans-serif, BlinkMacSystemFont, Roboto, Helvetica Neue,Helvetica,Tahoma,Arial;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #39364f;
    color: var(--eds-ui-800,#39364f);
}

#root {
    font-size: 16px;
} 

.session_form_center_layout, .session_form_header, .session_form_logo,
.session_form_container {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.session_form_text_lg {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .25px;
    margin-right: -.25px;
    font-weight: 700;
    color: var(--eds-ui-900,#1e0a3c);
    // text-rendering: optimizeLegibility;
}

.session_form_text_sm {
    color: #6f7287;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.button_session_submit, .signin_button, .dropdown_profile, .logo_index_img {
    letter-spacing: normal;
    font-size: 14px;
}

// 

.best_life_content {
    letter-spacing: normal;
    font-size: 14px;
}

// @font-face {
//     font-family: 'Benton-Sans';
//     src: url('./bentonsansblack/BentonSans\ Black.otf'), url('./bentonsansblack/libfreefonts.txt');
// };