blockquote, body, dd, div, dl, dt, fieldset,
form, h1, h2, h3, h4, h5, h6, input, li, ol,
p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

#root, #root2 {
  overflow: hidden;
  height: 100vh;
  display: flex;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header, footer, main, div {
  display: block;
  // border: solid;
  // border-color: green;
  // margin: 1px;

}