.event_listing {
  // remove
  border: solid;
  border-width: 1px;
}

.event_listing_header {
    // remove
    border: solid;
  border-width: 1px;
  // 
  height: 66vh;
  max-height: inherit;
  min-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 61px;
  width: 100%;
  z-index: -1;
  font-size: 15px;
  letter-spacing: .5px;
}

.event_listing_container {

}

.event_listing_body {

}

.event_listing_basics {

}

.event_listing_panel {

}

.event_listing_info {

}