.event_listing {
  flex: 1 1 auto;
  height: 100%;
}


.event_listing_header {
  height: 66vh;
  max-height: inherit;
  min-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 61px;
  width: 100%;
  z-index: -1;
  font-size: 15px;
  letter-spacing: .5px;
}

@media only screen and (min-width: 1080px) {
  .event_listing_container {
    margin-top: 40px;
  }
}
.event_listing_container {
  max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    position: relative;
    margin-bottom: 50px;
    padding-top: 0;
}

.event_listing_body {

}

.event_listing_basics {
  // animation-name: fadeIn;  
  // animation-delay: .4s;
  // animation-duration: .7s;
  // animation-timing-function: linear;
  // animation-iteration-count: 1;
  // animation-fill-mode: forwards;
  position: relative;
}

.event_listing_img_container {
  font-weight: 400;
  letter-spacing: .5px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding-left: 0;
  padding-right: 0;
}


.event_listing_overview {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(240, 236, 231, 0.9);
  height: 100%;
  right: 0;
  font-weight: 400;
  letter-spacing: .5px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  
}

.event_listing_dta {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
}

.event_listing_date {
  position: absolute;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
  text-align: center;
}

p#month {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p#date {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.event_listing_ta {
  padding-top: 64px;
  font-weight: 400;
  font-size: 1.06667rem;
  line-height: 1.5rem;
}

.event_listing_ta > h1 {
  padding-bottom: 2px;    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: rgb(30, 10, 60);
  // eventrbite font weight is 600 here
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.5px;
  word-break: break-word;
  margin: 0px auto;
  overflow: hidden;
}

.event_listing_org {
  margin-top: 15px;
  // origin font weight 400
  font-weight: 300;
  font-size: 1.06667rem;
  line-height: 1.5rem;
}

.event_listing_price_container {
  position: absolute;
  bottom: 20px;
  letter-spacing: 0.5px;
}

.event_listing_price {}

// add styling when tix available

.event_listing_panel {
    //   position: relative;
    // padding: 0px;
    // margin: 0px;
}

// 

.event_listing_info {
  position: relative;
      
}

.event_listing_info_border {
  
}

.event_listing_info_padding {
  background-color: rgb(255, 255, 255)
}

.event_listing_info_contents {
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
}

.event_listing_info_description {
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.event_listing_info_des_body {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  font-size: 0;
  letter-spacing: 0;
  letter-spacing: .5px;
}
.event_listing_info_des_body > h3 {
  color: #1E0A3C;
  line-height: 1.4rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.event_listing_info_des_text {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  letter-spacing: .5px;

}

.event_lsiting_info_des_text > p {
  color: #6F7287;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
}

.event_listing_info_setting {
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  letter-spacing: .5px;
  width: 100%;
}

.event_listing_info_setting_hide > h3 {
  color: #1E0A3C;
  line-height: 1.4rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.event_details_date {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.0666666667rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
}

.event_details_date > p {
  color: #39364f;
    font-weight: 200;
}

@media only screen and (min-width: 480px) {
  .event_listing_info_padding {
    padding-top: 50px;
  }
  .event_listing_info_contents {
    padding-left: 10px;
    padding-right: 10px;
  }
  .event_listing_info_description {
    width: 58.3333333333%;
  }
  .event_listing_info_des_body {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .event_listing_info_setting {
    margin-left: 8.3333333333%;
    width: 33.3333333333%;
  }

}
@media only screen and (max-width: 479px) {
  .event_listing_date, .event_listing_price_container, .event_listing_info_setting_hide {
    display: none!important;
  }
}

@media only screen and (max-width: 799px) and (min-width: 480px) {
  .event_listing_ta {
    margin-left: 60px;
  }
  .event_listing_price_container  {
    display: none!important;
  }
}

@media only screen and (max-width: 799px) {
  .event_listing_img_container {
    width: 100%;
    font-size: 1.0666666667rem;
    line-height: 1.5rem;
  }
  .event_listing_overview {
    position: relative;
    background-color: white;
    font-size: 1.0666666667rem;
    line-height: 1.5rem;
  }
  .event_listing_date {
    display: inline-block;
  }
  .event_listing_ta {
    display: inline-block;
    padding-top: 0px;
  }
  .evet_listing_ta > h1 {
    max-height: 125px;
    -webkit-line-clamp: 4;
    font-size: 17px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .event_listing_img_container, .event_listing_overview, .event_listing_dta,
  .event_listing_date, .event_listing_ta, .event_listing_org,
  .event_listing_price_container, .event_listing_info_contents,
  .event_listing_info_des_body, .event_listing_info_des_text > p,
  .event_listing_info_setting, .event_listing_info_setting_hide, .event_details_date {
    font-size: .9333333333rem;
    line-height: 1.25rem;
  }
  .event_listing_img_container {
    width: 66.6666666667%;
  }
  .event_listing_overview {
    position: absolute;
    width: 33.3333333333%;
  }
  .event_listing_dta {
    padding-bottom: 20px;
  }
  .event_listing_info_contents {
    margin-left: 8.3333333333%;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .event_listing_info_des_body {
    margin-bottom: 30px;
    line-height: 1.25rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1080px) {
  .event_listing_img_container, .event_listing_overview {
    border-top-left-radius: 4px;
    
  }
}