.header_container {
    // height: 59px;
    flex: 0 1 59px;
    z-index: 600; 
    border-bottom: 1px solid #eeedf2;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 237, 242);
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-direction: normal;
    justify-content: space-between;
    position: relative;
    letter-spacing: normal;
    font-size: 14px;
    background-color: #fff; 
    border-bottom: 1px solid #eeedf2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeedf2;
} 

.header_major {
    -webkit-box-flex: 1; 
    flex: 1;
    -webkit-box-align: center; 
    align-items: center; 
    display: flex;
    -webkit-box-pack: justify; 
    justify-content: space-between; 
}

.logo_index_link {
    display: flex;
    -webkit-box-flex: 0; 
    flex: none;
    -webkit-box-align: center; 
    align-items: center;
    height: 59px;
    text-decoration: none;

} 

.logo_index_img_container { 
    height: 20px;
    width: 99px;
    margin: 0;
    padding: 0 24px;
    vertical-align: middle;
    background-size: contain;
    line-height: 0; 
    display: flex;
}

.logo_index_img { 
    -webkit-box-align: center; 
    align-items: center; 
    white-space: nowrap;
    display: flex;
    -webkit-box-pack: justify; 
    justify-content: space-between;
    text-decoration: none;
    color: #f05537;
    background-color: transparent;
} 

.logo_index_img > p {
    color: #f05537;
    font-size: 1.35rem;
    font-weight: 700;
}

.global_nav_bar { 
    -webkit-box-align: center; 
    align-items: center; 
    display: flex;
    -webkit-box-pack: justify; 
    justify-content: space-between;
    letter-spacing: normal;
    font-size: 14px;
}
 
.signin_button, .dropdown_profile {
    padding: 0 20px;
    -webkit-box-align: center; 
    align-items: center; 
    white-space: nowrap;
    height: 59px;
    display: flex;
    -webkit-box-pack: justify; 
    justify-content: space-between;
    text-decoration: none;
    color: #6f7287;
    background-color: transparent;
    
}